<!--     <caption>- &nbsp &nbsp A T T E N D A N C E &nbsp&nbsp-</caption>-->  
<div class="container">
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th *ngFor="let key of getObjectKeys(tableData[0])">{{ key }}</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paginatedTableData; let i = index;">
              <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
              <ng-container *ngFor="let key of getObjectKeys(tableData[0])">
                <td>
                  <p [ngClass]="key === 'status' ? getStatusClass(item[key]) : ''">{{ item[key] || '' }}</p>
                </td>
                
              </ng-container>
            </tr>
          </tbody>
        </table>
      
        <div class="pagination">
          <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
          <span>{{ currentPage }}</span>
          <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
        </div>
    </div>