<div class="profile-container">
    
    <div class="image-container">
      <img class="profile-image" src="https://yt3.googleusercontent.com/ytc/AGIKgqN7SZibtD3-7AqcMePb5lz8ujx7KZSdUub5fpvzGQ=s900-c-k-c0x00ffffff-no-rj" alt="User Image Placeholder">
    </div>
  
    <div class="profile-name-container">
      <span class="profile-name">{{ firstName }} {{ lastName }}</span>
    </div>

    <div class="profile-username-container">
      <span class="profile-username">@{{ username }}</span>
    </div>
  
    <div class="profile-item">
      <label class="profile-label">Email:</label>
      <span class="profile-value">{{ email }}</span>
    </div>

    <div class="profile-item">
      <label class="profile-label">Phone:</label>
      <span class="profile-value">{{ phone }}</span>
    </div>
  
    <div class="profile-item">
      <label class="profile-label">Address:</label>
      <span class="profile-value">{{ address }}</span>
    </div>
  


    <div class="profile-item">
      <label class="profile-label">Role:</label>
      <span class="profile-value">{{ role }}</span>
    </div>

    <!--
    <button class="update-button" (click)="updateProfile()">Update Profile</button>
    -->
  </div>
  