<!--<div class="cart-container">
  <div class="row">
    <div class="col-md-6" *ngFor="let product of products">
      <app-item [product]="product"></app-item>
    </div>
  </div>
</div>-->

<app-categories></app-categories>
<div class="cart-container">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
      <item-card
        [name]="product.title"
        [image_src]="
          product.images && product.images.length > 0 ? product.images[0] : ''
        "
        [value]="product.price"
        [itemLink]="'product/' + product._id"
      ></item-card>
    </div>
  </div>
</div>
