.payment-form-container {
    background-color: #f3f0e6;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .payment-form-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .payment-form-container label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .payment-form-container input,
  .payment-form-container select {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    background-color: transparent;
  }
  
  .payment-form-container input[name="card-number"] {
    background-image: url('credit-card-icon.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 50px;
    background-size: 30px;
  }
  
  .payment-form-container input[name="expiration-date"],
  .payment-form-container input[name="expiration-year"] {
    background-image: url('calendarIcon.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 50px;
    background-size: 30px;
  }
  
  .payment-form-container button[type="submit"] {
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    position: relative;
    box-sizing: border-box;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    text-align: center; 
    flex-shrink: 1;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(239, 193, 76, 1);
    width: 100%;
    border-radius: 10px;
  }
  
  
  .payment-form-container button[type="submit"]:hover {
    background-color: var(--dl-color-gray-white);
  }
  