<div class="home-footer">
    <div class="max-width-container">
      <footer class="home-footer1">
        <div class="home-container09">
          <h3 class="home-text32 Heading-3">ARTIKA</h3>
          <span class="home-text33">
            <span>4517 Washington Ave. Manchester, Kentucky 39495,</span>
            <br />
            <span>United States</span>
          </span>
          <span class="home-text36">(671) 555-0110</span>
          <span class="home-text37">contact@mobillio.com</span>
        </div>
        <div class="home-links-container">
          <div class="home-container10">
            <span class="home-text38">Categories</span>
            <span class="home-text39">Collections</span>
            <span class="home-text40">Desks</span>
            <span class="home-text41">Furniture</span>
            <span class="home-text42">Lamps</span>
            <span class="home-text43">Plants</span>
            <span class="home-text44">Decoration</span>
          </div>
          <div class="home-container11">
            <span class="home-text45">Company</span>
            <span class="home-text46">Shop</span>
            <span class="home-text47">Lookbook</span>
            <span class="home-text48">Specials</span>
            <span class="home-text49">About</span>
            <span class="home-text50">Blog</span>
          </div>
          <div class="home-container12">
            <span class="home-text51">Resources</span>
            <span class="home-text52">Contact us</span>
            <span class="home-text53">Order</span>
            <span class="home-text54">Track your order</span>
            <span class="home-text55">Shipping &amp; Delivery</span>
          </div>
        </div>
      </footer>
    </div>
  </div>