.contact-us {
  padding: 20px;
  text-align: center;
  margin: 90px auto;
  max-width: 800px;
}


.contact-us h2 {
  color: rgba(239, 193, 76, 1);
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact-us p {
  color: #333;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 25px;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.contact-details {
  margin-right: 40px;
}

.contact-details h3 {
  color: rgba(239, 193, 76, 1);
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-details p {
  color: #333;
  font-size: 16px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: rgba(239, 193, 76, 1);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(223, 231, 221, 1);
  border-radius: 4px;
  background-color: #f3f0e6;
  color: #333;
}

.form-group textarea {
  resize: vertical;
  height: 120px;
}

.contact-form button {
  background-color: rgba(239, 193, 76, 1);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgba(206, 164, 47, 1);
}