mat-sidenav-container {
  height: 100%;
}
mat-sidenav-container mat-sidenav {
  width: 200px;
  background-color: rgba(63, 81, 181);
}
mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}
.admin-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.customers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  cursor: pointer;
}
.sellers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  cursor: pointer;
}
.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  cursor: pointer;
}

/* .customer,svg{
  width: 25px;
  padding:10px;
} */
