mat-sidenav-container {
  height: 100%;
}
mat-sidenav-container mat-sidenav {
  width: 200px;
  background-color: rgba(63, 81, 181);
}
mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}
.admin-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.customers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  cursor: pointer;
}
.sellers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  cursor: pointer;
}
.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  cursor: pointer;
}
mat-toolbar {
  background-color: var(--dl-color-gray-900);
}
.mat-drawer,
.mat-sidenav,
.ng-tns-c51-0,
.ng-trigger,
.ng-trigger-transform,
.mat-drawer-side,
.ng-star-inserted,
.mat-drawer-opened,
.mat-drawer-inner-container,
.ng-tns-c51-0 {
  background-color: var(--dl-color-gray-900);
}
/* .customer,svg{
  width: 25px;
  padding:10px;
} */
