<div class="card">
    <div class="card-image">
        <h2 class="card-heading">
            Update product
            <small>Let's Update product details</small>
        </h2>
    </div>
    <form enctype='multipart/form-data' #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="card-form">
        <div class="input">
            <input type="text" class="input-field" required name="title" ngModel="{{product.title}}"/>
            <label class="input-label">Product title</label>
        </div>
        <div class="input">
            <textarea type="text" class="input-field" required name="description" ngModel="{{product.description}}" style="resize: none;"></textarea>
            <label class="input-label">Product description</label>
        </div>
        <div class="input">
            <input type="number" class="input-field" required name="price" ngModel="{{product.price}}"/>
            <label class="input-label">Product price</label>
        </div>
        <!-- <tag-input #tagInput [ngModelOptions]="{standalone: true}" [ngModel]="selectedCategories" secondaryPlaceholder="product category" placeholder="add category" [onlyFromAutocomplete]="true" (onAdd)="onItemAdded($event)">
            <tag-input-dropdown
            [autocompleteItems]=""
            [appendToBody]="true"
            >
            </tag-input-dropdown>
        </tag-input> -->
        <!-- <div class="input">
            <label class="file">
                <input #fileInput type="file" required multiple name="images" ngModel="{{product.images}}" aria-label="File browser example" accept="image/*">
                <span class="file-custom"></span>
            </label>
        </div> -->
        <div class="action">
            <button class="action-button">Save product</button>
        </div>
    </form>
</div>